@import './quasar.variables.sass'

.q-page
    text-align: center
    justify-content: center
    align-items: center
    margin: 0 auto
    display: flex

.q-card
    max-width: 800px
    .q-btn
        color: $primary
        margin: 5px
    .q-icon
        color: $primary

.q-file
    min-width: 800px

@media only screen and (min-width: 1200px)
    .q-page
        max-width: 80%
