@import './quasar.variables.sass'

.q-page
    text-align: center
    justify-content: center
    align-items: center
    margin: 0 auto
    display: flex
    flex-direction: column

.q-card
    .q-btn
        color: $primary
        margin: 5px
    .q-icon
        color: $primary

.chart
    justify-content: center

.input-file-chart
    height: 55px !important
    margin: 0 auto

p
    font-size: 1.2em

@media only screen and (min-width: 1200px)
    .q-page
        max-width: 80%
